* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(91, 91, 182);
    animation: transitionIN 0.75s;
}



@keyframes transitionIN {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}


.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 30px;
    background-color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin: 0 auto;
}

.navbar #log_out {
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    color: rgb(91, 91, 182);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}


.navbar #log_out::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(91, 91, 182);
    transition: .3s;
}

.navbar #log_out:hover::before {
    width: 100%;
}

.logo {
    font-size: 32px;
    color: rgb(91, 91, 182);
    text-decoration: none;
    font-weight: 700;


}


/*inside of block where are selector and calendar*/
.selector {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 350px;
    margin: 30px auto;
    background-color: rgb(21, 96, 146);
    padding: 5% 5% 5% 5%;
    border-radius: 40px;

}

#employer-select {
    margin-bottom: 20px;
    border-radius: 30px;
    width: 135px;
}


.calendar-first,
.calendar-second {
    width: 40%;
    height: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.567);
    margin: 10px 10px;

}

.calendar-first .header_calendar,
.calendar-second .header_calendar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header_calendar .icons,
.header_calendar .icons2 {
    display: flex;
    margin-right: 10%;
}

.header_calendar .icons span,
.header_calendar .icons2 span {
    height: 38px;
    width: 38px;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    font-size: 1rem;
    border-radius: 50%;
    color: #666464;
    user-select: none;

}

.header_calendar .icons span:last-child,
.header_calendar .icons2 span:last-child {
    margin-right: -10px;
}

.header_calendar .icons span:hover,
.header_calendar .icons2 span:hover {
    background: #fffafa;
}


.header_calendar .current-date,
.header_calendar .current-date2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 20%;
}

.calendar,
.calendar2 {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.calendar ul,
.calendar2 ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendar ul li,
.calendar2 ul li {
    position: relative;
    color: #262525;
    width: calc(100%/7);
    font-size: 12px;
}

.calendar .weeks li,
.calendar2 .weeks2 li {
    font-weight: 500;
    cursor: default;
}

.calendar .days,
.calendar2 .days2 {
    margin: 2%;
}

.calendar .days li,
.calendar2 .days2 li {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 2%;
    z-index: 1;
    position: relative;
}

.days li.inactive,
.days2 li.inactive {
    color: #aaa;
}

.days li.active,
.days2 li.active {
    color: #fff;
}

.calendar ul li::before,
.calendar2 ul li::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    background: white;
}

.days li:hover::before,
.days2 li:hover::before {
    background: #fffafa;
}

.days li.active::before,
.days2 li.active::before {
    background: rgb(21, 96, 146);
}

.addPto {
    border-radius: 30px;
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    font-weight: bold;
}

#selecteddate2 {
    color: rgb(38, 0, 255);
    background-color: red;
    transition: 0.5s;
}

#selecteddate {
    color: rgb(38, 0, 255);
    background-color: red;
    transition: 0.5s;
}


/*style for pto container*/
.profile {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    max-width: 400px;
    width: 100%;
    background-color: rgb(21, 96, 146);
    border-radius: 40px;
    padding: 25px;
    animation: transitionIN 0.75s;
}

.pto-label-current {
    font-weight: bold;
    color: rgb(23, 181, 63);
    font-size: large;
}

.pto-label-past {
    font-weight: bold;
    color: rgb(255, 36, 36);
    font-size: large;

}

.pto-label-future {
    font-weight: bold;
    color: rgb(229, 255, 36);
    font-size: large;
}

.name-label {
    font-weight: bold;
    color: #fff;
    font-size: x-large;
}

.email {
    font-weight: bold;
    color: #fff;
    font-size: x-large;
}

.pto-container {
    overflow: hidden;
    position: relative;
}

.pto-image {
    width: 100%;
    border-radius: 5px;
    height: 90px;
    object-fit: cover;
    position: absolute;
    margin-top: 10px;
    opacity: 0.8;
}

.content-pto {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 2% 0;
    font-size: small;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.pto-delete-image {

    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.email {
    color: aqua;
    font-size: medium;
    margin: 2% auto;
}

.content-pto p {
    position: relative;
    z-index: 1;
    margin: 0;

}


@media screen and (max-width: 900px) {
    body {
        width: 90%;
        padding-left: 15px;
    }

    .selector {
        width: 90%;
    }

    #employer-select {
       width: 110px;
    }

    .calendar-first,
    .calendar-second {
        width: 80%;
        margin: 10px;
    }

    .header_calendar .icons span,
    .header_calendar .icons2 span {
        height: 30px;
        width: 20px;
        line-height: 30px;
        font-size: 0.8rem;
    }

    .header_calendar .current-date,
    .header_calendar .current-date2 {
        font-size: 15px;
        margin-left: 15%;
    }

    .calendar ul li,
    .calendar2 ul li {
        width: calc(100%/7);
        font-size: 8px;
    }

    .addPto {
        width: 120px;
        font-size: 12px;
        font-weight: bold;
    }
}

@media screen and (max-width:700px) {
    body {
        width: 100%;
        padding-left: 15px;
        padding-top: 30px;

    }

    
    #employer-select {
        width: 100px;
     }

    .calendar-first,
    .calendar-second {
        width: 70%;
        margin: 10px;
    }

    .header_calendar .icons span,
    .header_calendar .icons2 span {
        height: 30px;
        width: 15px;
        line-height: 30px;
        font-size: 0.8rem;
    }

    .calendar .weeks li,
    .calendar2 .weeks2 li {
        font-weight: 500;
        font-size: 6px;
        cursor: default;
    }

    .header_calendar .current-date,
    .header_calendar .current-date2 {
        font-size: 10px;
        margin-left: 15%;
    }

    .calendar ul li::before,
    .calendar2 ul li::before {
        display: none;
    }

    .logo {
        font-size: 25px;
    }
}