* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(91, 91, 182);

    animation: transitionIN 0.75s;
}

@keyframes transitionIN {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 30px;
    background-color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin: 0 auto;
}

.navbar #log_out {
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    color: rgb(91, 91, 182);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}


.navbar #log_out::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(91, 91, 182);
    transition: .3s;
}

.navbar #log_out:hover::before {
    width: 100%;
}

.logo {
    font-size: 32px;
    color: rgb(91, 91, 182);
    text-decoration: none;
    font-weight: 700;


}


/*inside of block where are selector and calendar*/
.selector {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 350px;
    margin: 10px auto;
    background-color: rgb(21, 96, 146);
    padding: 5% 5% 5% 5%;
    border-radius: 40px;

}

#employer-select {
    margin-bottom: 20px;
    border-radius: 30px;
}


.calendar-first ,
.calendar-second{
    width: 40%;
    height: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.567);
    margin: 10px 10px;

}

.calendar-first .header_calendar,
.calendar-second .header_calendar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header_calendar .icons ,
.header_calendar .icons2 {
    display: flex;
    margin-right: 10%;
}

.header_calendar .icons span ,
.header_calendar .icons2 span  {
    height: 38px;
    width: 38px;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    font-size: 1rem;
    border-radius: 50%;
    color: #666464;
    user-select: none;

}

.header_calendar .icons span:last-child ,
.header_calendar .icons2 span:last-child {
    margin-right: -10px;
}

.header_calendar .icons span:hover ,
.header_calendar .icons2 span:hover {
    background: #fffafa;
}


.header_calendar .current-date ,
.header_calendar .current-date2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 20%;
}

.calendar,
.calendar2{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.calendar ul,
.calendar2 ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendar ul li,
.calendar2 ul li {
    position: relative;
    color: #262525;
    width: calc(100%/7);
    font-size: 12px;
}

.calendar .weeks li ,
.calendar2 .weeks2 li {
    font-weight: 500;
    cursor: default;
}
.calendar .days ,
.calendar2 .days2 {
    margin: 2%;
}

.calendar .days li,
.calendar2 .days2 li {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 2%;
    z-index: 1;
    position: relative;
}

.days li.inactive,
.days2 li.inactive {
    color: #aaa;
}

.days li.active,
.days2 li.active {
    color: #fff;
}

.calendar ul li::before,
.calendar2 ul li::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    background: white;
}

.days li:hover::before,
.days2 li:hover::before {
    background: #fffafa;
}

.days li.active::before,
.days2 li.active::before {
    background: rgb(21, 96, 146);
    ;
}

.addPto {
    border-radius: 30px;
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
}




@media screen and (max-width: 900px) {
    body {
        width: 90%;
        padding-left: 15px;
    }
}

@media screen and (max-width:600px) {
    body {
        width: 95%;
        padding-left: 15px;
        padding-top: 30px;

    }

}